<div class="container">
    <h1 class="text-center mt-5 mb-2">Auction a House</h1>
    <form [formGroup]="HouseForm">
      <fieldset class="p-4">
        <div class="form-group">
          <label>Title :</label>
          <!-- input field coloured red when given data is failed validation -->
          <input
            [class.is-invalid]="
              HouseForm.get('title').invalid && HouseForm.get('title').touched
            "
            type="text"
            formControlName="title"
            class="form-control"
            required
          />
          <!-- show error message for validation error -->
          <small
            class="text-danger"
            *ngIf="
              HouseForm.get('title').invalid && HouseForm.get('title').touched
            "
            >*Title is required !</small
          >
        </div>
  
        <div class="form-group">
          <label>Description :</label>
          <!-- input field coloured red when given data is failed validation -->
          <textarea
            [class.is-invalid]="
              HouseForm.get('description').invalid &&
              HouseForm.get('description').touched
            "
            class="form-control"
            formControlName="description"
            rows="3"
            required
          ></textarea>
          <!-- show error message for validation error -->
          <small
            class="text-danger"
            *ngIf="
              HouseForm.get('description').invalid &&
              HouseForm.get('description').touched
            "
            >*Description is required !</small
          >
        </div>
  
        <div class="row">
          <div class="form-group pl-3 pr-3 w-50">
            <label>Number of Bed Rooms :</label>
            <!-- input field coloured red when given data is failed validation -->
            <input
              [class.is-invalid]="
                HouseForm.get('bedRooms').invalid &&
                HouseForm.get('bedRooms').touched
              "
              type="number"
              formControlName="bedRooms"
              class="form-control"
              required
            />
            <!-- show error message for validation error -->
            <small
              class="text-danger"
              *ngIf="
                HouseForm.get('bedRooms').invalid &&
                HouseForm.get('bedRooms').touched
              "
              >*Number of Bed rooms is required !</small
            >
          </div>
  
          <div class="form-group pl-3 pr-3 w-50">
            <label>Number of Bath Rooms :</label>
            <!-- input field coloured red when given data is failed validation -->
            <input
              [class.is-invalid]="
                HouseForm.get('bathRooms').invalid &&
                HouseForm.get('bathRooms').touched
              "
              type="number"
              formControlName="bathRooms"
              class="form-control"
              required
            />
            <!-- show error message for validation error -->
            <small
              class="text-danger"
              *ngIf="
                HouseForm.get('bathRooms').invalid &&
                HouseForm.get('bathRooms').touched
              "
              >*Number of Bath rooms is required !</small
            >
          </div>
        </div>
  
        <div class="form-group">
          <label>Starting Bid :</label>
          <!-- input field coloured red when given data is failed validation -->
          <input
            [class.is-invalid]="
              HouseForm.get('startBid').invalid && HouseForm.get('startBid').touched
            "
            type="number"
            formControlName="startBid"
            class="form-control"
            required
          />
          <!-- show error message for validation error -->
          <small
            class="text-danger"
            *ngIf="
              HouseForm.get('startBid').invalid && HouseForm.get('startBid').touched
            "
            >*Starting Bid is required !</small
          >
        </div>
  
        <div class="form-group">
          <label>Starting Date :</label>
        <input
            [class.is-invalid]="
             HouseForm.get('startDate').invalid && HouseForm.get('startDate').touched
            "
            type="datetime-local"
            formControlName="startDate"
            class="form-control"
            required
          />
          <!-- show error message for validation error -->
          <small
            class="text-danger"
            *ngIf="HouseForm.get('startDate').invalid && HouseForm.get('startDate').touched"
            >*Start Date is required !</small
          >
        </div>

        <div class="form-group">
            <label>End Date :</label>
        <input
            [class.is-invalid]="
              HouseForm.get('endDate').invalid && HouseForm.get('endDate').touched
            "
            type="datetime-local"
            formControlName="endDate"
            class="form-control"
            required
          />
          <!-- show error message for validation error -->
          <small
            class="text-danger"
            *ngIf="HouseForm.get('endDate').invalid && HouseForm.get('endDate').touched"
            >*End Date is required !</small
          >
        </div>

        <div class="form-group">
          <label>Location (Town) :</label>
          <!-- input field coloured red when given data is failed validation -->
          <input
            [class.is-invalid]="
              HouseForm.get('locationName').invalid &&
              HouseForm.get('locationName').touched
            "
            type="text"
            formControlName="locationName"
            class="form-control"
            required
          />
          <!-- show error message for validation error -->
          <small
            class="text-danger"
            *ngIf="
              HouseForm.get('locationName').invalid &&
              HouseForm.get('locationName').touched
            "
            >*Location is required !</small
          >
        </div>
  
        <div class="form-group">
          <label>Location (Map) :</label>
          <!-- input field coloured red when given data is failed validation -->
  
          <app-map (selectLocation)="setLocationMap($event)"></app-map>
  
          <!-- show error message for validation error -->
          <small
            class="text-danger"
            *ngIf="
              HouseForm.get('locationMap').invalid ||
              HouseForm.get('locationMap').touched
            "
            >*Map Location is required !</small
          >
        </div>
  
        <label>Images :</label>
        <div class="row">
          <div class="form-group pl-3 pr-3">
            <!-- input field coloured red when given data is failed validation -->
            <app-image-uploader
              [defaultImage]="'/assets/images/image-placeholder-normal.png'"
              [cloudFolder]="'landImages'"
              (upload)="addToImages($event)"
            ></app-image-uploader>
            <!-- show error message for validation error -->
            <small *ngIf="houseImages.length < 1" class="text-danger"
              >*Pictures are required !
            </small>
          </div>
  
          <div class="form-group pl-3">
            <!-- input field coloured red when given data is failed validation -->
            <app-image-uploader
              [defaultImage]="'/assets/images/image-placeholder-normal.png'"
              [cloudFolder]="'landImages'"
              (upload)="addToImages($event)"
            ></app-image-uploader>
            <!-- show error message for validation error -->
          </div>
        </div>

        <h5 class="text-center">Attach 360 Image:</h5>
      <div #roundView class="input-group mb-5">
        <div
          style="
            width: 400px;
            display: flex;
            margin-left: auto;
            margin-right: auto;
          "
        >
          <div class="input-group-prepend" style="cursor: pointer">
            <span class="input-group-text" id="inputGroupFileAddon01"
              >Upload</span
            >
          </div>
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              id="inputGroupFile01"
              aria-describedby="inputGroupFileAddon01"
            />
            <label class="custom-file-label" for="inputGroupFile01"
              >Choose file</label
            >
          </div>
        </div>
      </div>

        <button
          [disabled]="HouseForm.invalid || houseImages.length < 1"
          type="submit"
          class="btn btn-primary float-right"
          (click)="tryPostHouse(HouseForm.value)"
        >
          Post
        </button>
      </fieldset>
    </form>
  </div>