<div class="card-container">
  <div class="card">
    <img class="card-img-top image" src="https://picsum.photos/150/150" />
    <ul class="list-group list-group-flush">
      <li
        class="list-group-item"
        style="font-size: 17px; margin-left: 5px; color: #494fe9;"
      >
        <b>{{ landTitle }}</b>
      </li>
      <li
        class="list-group-item"
        style="font-size: 17px; margin-left: 5px; color: #1ec92f;"
      >
        Rs: {{ landPrice }}&nbsp;
        <span style="font-size: 12px; color: black;"> per perch</span>
      </li>
      <li
        class="list-group-item"
        style="
          font-size: 12px;
          text-align: center;
          padding-top: 10px !important;
        "
      >
        <div class="li-box">
          <b>Size: </b>{{ landSize }} perches &nbsp;&nbsp;&nbsp;&nbsp;
          <b>Type: </b>{{ landType }} &nbsp;&nbsp;&nbsp;&nbsp; <b>Location: </b
          >{{ landLocation }}
        </div>

        <p style="text-align: end;">{{ postedDuration }}&nbsp;hours ago</p>
      </li>
    </ul>
  </div>
</div>
