<app-chatbot class="float-right"></app-chatbot>

<footer class="footer-top">
  <div class="footer-left">
    <div class="heading">LankaProperties</div>
    <div class="text">
      LankaProperties is a online Web based Property selling and buying patform
      <br />
      developed by Group-47
    </div>
  </div>
  <div class="footer-right">
    <img src="../../../assets/images/Logo.svg" />
  </div>
</footer>
<footer class="footer-bottom">
  <i class="fa fa-phone"></i>
  <i class="fa fa-facebook"></i>
  <i class="fa fa-whatsapp"></i>
  <i class="fa fa-instagram"></i>
</footer>
