<div class="myContainer">
  <div class="sidebar">
    <a [ngClass]="nav === 1 ? 'active' : ''" (click)="setNav(1)">Profile</a>
    <a [ngClass]="nav === 2 ? 'active' : ''" (click)="getPendingLands()"
      >Land Requests</a
    >
    <a [ngClass]="nav === 3 ? 'active' : ''" (click)="getPendingHouses()"
      >House Requests</a
    >
    <a [ngClass]="nav === 4 ? 'active' : ''" (click)="setNav(4)">New Ad</a>
    <a [ngClass]="nav === 5 ? 'active' : ''" (click)="setNav(5)"
      >Activity Log</a
    >
  </div>

  <div *ngIf="nav === 1" class="content">
    <h2>profile</h2>
  </div>
  <div *ngIf="nav === 2" class="content">
    <div class="pendingLands">
      <div *ngFor="let item of pendingLands">
        <app-direct-land-card
          class="m-3"
          (click)="goToReviewLand(item)"
          [image]="item.images[0]"
          [title]="item.title"
          [price]="item.price"
          [size]="item.size"
          [type]="item.type"
          [location]="item.locationName"
          [time]="item.postedTime"
        ></app-direct-land-card>
      </div>
    </div>
  </div>
  <div *ngIf="nav === 3" class="content">
    <h2>House Requests</h2>
    <div *ngFor="let item of pendingHouses">
      {{ item | json }}
    </div>
  </div>
  <div *ngIf="nav === 4" class="content">
    <h2>New Ad</h2>
  </div>
  <div *ngIf="nav === 5" class="content">
    <h2>Activity Log</h2>
  </div>
</div>
