.my-nav {
  height: 64px;
  width: 100%;
  background-color: #10273c;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 2;

  img {
    margin-right: auto;
    margin-left: 50px;
    outline: transparent;
  }

  .my-button-container {
    width: 200px;
    margin-left: auto;
    margin-right: 50px;
    background-color: gree;

    button {
      margin: 10px;
    }
  }
}

.dropdownn {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .avatar {
    img {
      height: 48px;
      width: 48px;
      border-style: solid;
      border-width: 3px;
      border-color: wheat;
      margin-right: 5px;
    }
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  margin-top: 0px;
}
