<nav class="my-nav">
  <img src="../../../assets/images/Logo.svg" class="my-image" routerLink="" />
  <div class="my-button-container" *ngIf="!isLogged">
    <!-- <button class="btn btn-outline-primary">Login</button> -->
    <button class="btn btn-outline-primary" [routerLink]="['login']">
      Login
    </button>

    <!-- <button class="btn btn-primary">Signup</button> -->
    <button class="btn btn-primary" [routerLink]="['signup']">Signup</button>
  </div>
  <div class="my-button-container" style="color: white;" *ngIf="isLogged">
    <!-- <button class="btn btn-outline-primary">Login</button> -->
    user Logged:
    <button class="btn btn-outline-primary" (click)="logOut()">
      LogOut
    </button>
  </div>
</nav>
