<div class="content">
  <div class="selector-box">
    <div class="selector-item card" (click)="goToNewAd(1)">
      <div class="selector-item-header">
        <h4 class="text-center">Direct Land</h4>
      </div>
      <img src="/assets/images/land-direct.svg" alt="" />
    </div>
    <div class="selector-item card" (click)="goToNewAd(2)">
      <div class="selector-item-header">
        <h4 class="text-center">Direct House</h4>
      </div>
      <img src="/assets/images/house-direct.svg" alt="" />
    </div>
    <div class="selector-item card" (click)="goToNewAd(3)">
      <div class="selector-item-header">
        <h4 class="text-center">Auction Land</h4>
      </div>
      <img src="/assets/images/land-auction.svg" alt="" />
    </div>
    <div class="selector-item card" (click)="goToNewAd(4)">
      <div class="selector-item-header">
        <h4 class="text-center">Auction House</h4>
      </div>
      <img src="/assets/images/house-auction.svg" alt="" />
    </div>
  </div>
</div>
