<div class="navbar-fix"></div>
<nav class="nav nav-pills flex-column flex-sm-row pad">
  <a
    class="flex-sm-fill text-sm-center nav-link"
    [ngClass]="state == 'admin' ? 'active' : ''"
    (click)="moveToAdmin()"
    >Administrators</a
  >
  <a
    class="flex-sm-fill text-sm-center nav-link"
    [ngClass]="state == 'auction' ? 'active' : ''"
    (click)="moveToAuction()"
    >Sell Property</a
  >
  <a
    class="flex-sm-fill text-sm-center nav-link"
    [ngClass]="state == 'activity' ? 'active' : ''"
    (click)="moveToActivity()"
    >Activity log</a
  >
</nav>

<div [hidden]="state !== 'admin'" class="adminsclass">
  <app-admins></app-admins>
</div>
<div [hidden]="state !== 'auction'">
  <app-auction></app-auction>
</div>
<div [hidden]="state !== 'activity'">
  <app-activity-logs></app-activity-logs>
</div>
