.navbar-fix {
  height: 64px;
}

.pad{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.nav{
  width: 80% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  cursor: pointer !important;
}