<div class="myContainer">
  <div class="sidebar">
    <a [ngClass]="nav === 1 ? 'active' : ''" (click)="setNav(1)">Profile</a>
    <a [ngClass]="nav === 2 ? 'active' : ''" (click)="getPostedLands()"
      >Posted Lands</a
    >
    <a [ngClass]="nav === 3 ? 'active' : ''" (click)="getPostedHouses()"
      >Posted Houses</a
    >
    <a [ngClass]="nav === 4 ? 'active' : ''" (click)="getJoinLandAuctions()"
      >Joined Land Auctions</a
    >
    <a [ngClass]="nav === 5 ? 'active' : ''" (click)="getJoinHouseAuctions()"
      >Joined House Auctions</a
    >
  </div>

  <div *ngIf="nav === 1" class="content">
    <app-profile></app-profile>
  </div>
  <div *ngIf="nav === 2" class="content">
    <div class="pendingLands">
      <div *ngFor="let item of postedLands">
        <app-direct-land-card
          class="m-3"
          (click)="openAd('land', item)"
          [image]="item.images[0]"
          [title]="item.title"
          [price]="item.price"
          [size]="item.size"
          [type]="item.type"
          [location]="item.locationName"
          [time]="item.postedTime"
        ></app-direct-land-card>
      </div>
    </div>
  </div>
  <div *ngIf="nav === 3" class="content">
    <div class="pendingHouses">
      <div *ngFor="let item of postedHouses">
        <app-direct-house-card
          class="m-3"
          (click)="openAd('house', item)"
          [image]="item.images[0]"
          [title]="item.title"
          [price]="item.price"
          [bathRooms]="item.bathRooms"
          [bedRooms]="item.bedRooms"
          [location]="item.locationName"
          [time]="item.postedTime"
        ></app-direct-house-card>
      </div>
    </div>
  </div>
  <div *ngIf="nav === 4" class="content">
    <div class="result-container" *ngFor="let temp of bidedLands">
      <app-auction-card
        (click)="openAd('land')"
        [_id]="temp._id"
        [title]="temp.title"
        [type]="temp.type"
        [size]="temp.size"
        [description]="temp.description"
        [threeSixtyImageUrl]="temp.threeSixtyImageUrl"
        [images]="temp.images"
        [locationName]="temp.locationName"
        [locationMap]="temp.locationMap"
        [startDate]="temp.startDate"
        [endDate]="temp.endDate"
        [startBid]="temp.startBid"
        [currentBid]="temp.currentBid"
        [postedTime]="temp.postedTime"
      ></app-auction-card>
    </div>
  </div>
  <div *ngIf="nav === 5" class="content">
    <div class="result-container" *ngFor="let temp of bidedHouses">
      <app-auction-card
        (click)="openAd('house')"
        [_id]="temp._id"
        [title]="temp.title"
        [bedRooms]="temp.bedRooms"
        [bathRooms]="temp.bathRooms"
        [description]="temp.description"
        [images]="temp.images"
        [locationName]="temp.locationName"
        [locationMap]="temp.locationMap"
        [startDate]="temp.startDate"
        [endDate]="temp.endDate"
        [startBid]="temp.startBid"
        [currentBid]="temp.currentBid"
        [postedTime]="temp.postedTime"
      ></app-auction-card>
    </div>
  </div>
</div>
