<div class="container mt-5" id="container">
  <form action="#">
    <h1 class="font-weight-bold">Login</h1>

    <div class="form-filed">
      <div>Email</div>
    </div>
    <input type="email" placeholder="Enter your Email" />

    <br />

    <div class="form-filed">
      <div>Password</div>
    </div>
    <input type="password" placeholder="Enter your Password" />

    <div class="form-footer">
      <span>Forgot password?</span>
    </div>
    <div class="form-footer">
      <span>Don't have account? Sign up</span>
    </div>
  </form>
</div>
