<div class="card-container">
    <div class="card">
      <img class="card-img-top image" src="{{ images[0] }}" />
      <ul class="list-group list-group-flush">
        <li
          class="list-group-item"
          style="font-size: 17px; margin-left: 5px; color: #494fe9;"
        >
          <b>{{ title }}</b>
        </li>
        <li
          class="list-group-item"
          style="font-size: 17px; margin-left: 5px; color: #1ec92f;"
        >
        <span style="font-size: 14px; color: black;"> Starting Bid:</span>
        &nbsp;{{ startBid  | currency:'LKR ':'code'}}
          
        </li>
        <li
          class="list-group-item"
          style=" 
            font-size: 12px;
            text-align: center;
            padding-top: 10px !important;
          "
        >
          <div class="li-box" *ngIf="bedRooms == null">
            <b>Size: </b>{{ size }} perches &nbsp;&nbsp;&nbsp;&nbsp; <b>Type: </b
            >{{ type }} &nbsp;&nbsp;&nbsp;&nbsp; <b>Location: </b>{{ location }}
          </div>

          <div class="li-box" *ngIf="bedRooms != null">
            <b>bedRooms: </b>{{ bedRooms }} &nbsp;&nbsp;&nbsp;&nbsp; <b>bathRooms: </b
            >{{ bathRooms }} &nbsp;&nbsp;&nbsp;&nbsp; <b>Location: </b>{{ location }}
          </div>
        </li>
        <li class="list-group-item" class="card-bottom">
          <app-count-down 
          [startDate]="startDate"
          [endDate]="endDate"
          [_id] = "_id"></app-count-down>
        </li>
      </ul>
    </div>
  </div>
  