<div class="card-container">
    <div class="card">
      <img class="card-img-top image" src="{{ image }}" />
      <ul class="list-group list-group-flush">
        <li
          class="list-group-item"
          style="font-size: 17px; margin-left: 5px; color: #494fe9;"
        >
          <b>{{ title }}</b>
        </li>
        <li
          class="list-group-item"
          style="font-size: 17px; margin-left: 5px; color: #1ec92f;"
        >
          Rs: {{ price }}&nbsp;
          <span style="font-size: 12px; color: black;"> per perch</span>
        </li>
        <li
          class="list-group-item"
          style="
            font-size: 12px;
            text-align: center;
            padding-top: 10px !important;
          "
        >
          <div class="li-box">
            <b>Size: </b>{{ size }} perches &nbsp;&nbsp;&nbsp;&nbsp; <b>Type: </b
            >{{ type }} &nbsp;&nbsp;&nbsp;&nbsp; <b>Location: </b>{{ location }}
          </div>
        </li>
        <li class="list-group-item" class="card-bottom">
          <div *ngIf="eventDone == 'notStarted'">
            Start Date: {{startDate}}&nbsp;End Date: {{endDate}}
          </div>
          <div *ngIf="eventDone == 'onGoing'" style="display: flex;">
            <div style="margin-top: 8px">Ends in:</div>
            <div class="countdown-container" style="display: flex;">
              {{days}}D&nbsp;:&nbsp;{{hours}}H&nbsp;:&nbsp;{{mins}}M&nbsp;:&nbsp;{{secs}}S
            </div>
          </div>
          <div *ngIf="eventDone == 'ended'">
            
          </div>

          <ng-template #elseBlock>Content to render when condition is false.</ng-template>
        </li>
      </ul>
    </div>
  </div>
  