.navbar-fix {
    height: 64px;
  }

  .auction-header{
    height: 20%;
  }

  .auction-form{
    padding-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  start-bid{
    width: 40%;
  }

  .spacing{
    padding-right: 20px;
  }
