<div class="navbar-fix"></div>
<div class="container" id="container">
  <div class="heading">Signup</div>

  <form [formGroup]="RegisterForm">
    <fieldset class="p-4">
      <div class="form-group">
        <label>Profile Picture :</label>
        <!-- input field coloured red when given data is failed validation -->
        <app-image-uploader
          [defaultImage]="'/assets/images/image-placeholder-user.png'"
          [cloudFolder]="'profilePictures'"
          (upload)="setProfilePicture($event)"
        ></app-image-uploader>
        <!-- show error message for validation error -->
        <small
          *ngIf="RegisterForm.get('profilePicture').invalid"
          class="text-danger"
          >*Profile Picture is required !</small
        >
      </div>

      <div class="name row">
        <div class="form-group w-50 pl-3 pr-2">
          <label>First Name :</label>
          <!-- input field coloured red when given data is failed validation -->
          <input
            [class.is-invalid]="
              RegisterForm.get('firstName').invalid &&
              RegisterForm.get('firstName').touched
            "
            type="text"
            formControlName="firstName"
            class="form-control"
            required
          />
          <!-- show error message for validation error -->
          <small
            *ngIf="
              RegisterForm.get('firstName').invalid &&
              RegisterForm.get('firstName').touched
            "
            class="text-danger"
            >*First Name is required !</small
          >
        </div>

        <div class="form-group w-50 pl-2 pr-3">
          <label>Last Name :</label>
          <!-- input field coloured red when given data is failed validation -->
          <input
            [class.is-invalid]="
              RegisterForm.get('lastName').invalid &&
              RegisterForm.get('lastName').touched
            "
            type="text"
            formControlName="lastName"
            class="form-control"
            required
          />
          <!-- show error message for validation error -->
          <small
            class="text-danger"
            *ngIf="
              RegisterForm.get('lastName').invalid &&
              RegisterForm.get('lastName').touched
            "
            >*Last Name is required !</small
          >
        </div>
      </div>

      <div class="form-group">
        <label>Mobile number :</label>
        <!-- input field coloured red when given data is failed validation -->
        <input
          [class.is-invalid]="
            RegisterForm.get('mobileNumber').invalid &&
            RegisterForm.get('mobileNumber').touched
          "
          type="text"
          formControlName="mobileNumber"
          class="form-control"
          required
        />
        <!-- show error message for validation error -->
        <small
          class="text-danger"
          *ngIf="
            RegisterForm.get('mobileNumber').invalid &&
            RegisterForm.get('mobileNumber').touched
          "
          >*Mobile Number is required !</small
        >
      </div>

      <div class="form-group">
        <label>Email :</label>
        <!-- input field coloured red when given data is failed validation -->
        <input
          [class.is-invalid]="
            RegisterForm.get('email').invalid &&
            RegisterForm.get('email').touched
          "
          type="email"
          formControlName="email"
          class="form-control"
          required
        />
        <div
          *ngIf="
            RegisterForm.get('email').invalid &&
            RegisterForm.get('email').touched
          "
        >
          <!-- show error message for validation error -->
          <small
            class="text-danger"
            *ngIf="RegisterForm.get('email').errors.required"
            >*Email is required !</small
          >
          <small
            class="text-danger"
            *ngIf="RegisterForm.get('email').errors.email"
            >*Email is badly formatted !</small
          >
        </div>
      </div>

      <div class="form-group">
        <label>NIC number :</label>
        <!-- input field coloured red when given data is failed validation -->
        <input
          [class.is-invalid]="
            RegisterForm.get('nicNumber').invalid &&
            RegisterForm.get('nicNumber').touched
          "
          type="text"
          formControlName="nicNumber"
          class="form-control"
          required
        />
        <!-- show error message for validation error -->
        <small
          class="text-danger"
          *ngIf="
            RegisterForm.get('nicNumber').invalid &&
            RegisterForm.get('nicNumber').touched
          "
          >*NIC is required !</small
        >
      </div>

      <div class="nic-images row">
        <div class="form-group pl-3 pr-3">
          <label>NIC Front-side photo :</label>
          <!-- input field coloured red when given data is failed validation -->
          <app-image-uploader
            [defaultImage]="'/assets/images/image-placeholder-normal.png'"
            [cloudFolder]="'nicImages'"
            (upload)="setNicFrontImage($event)"
          ></app-image-uploader>
          <!-- show error message for validation error -->
          <small
            *ngIf="RegisterForm.get('nicFrontImage').invalid"
            class="text-danger"
            >*Nic Picture is required !
          </small>
        </div>

        <div class="form-group pl-3">
          <label>NIC Back-side photo :</label>
          <!-- input field coloured red when given data is failed validation -->
          <app-image-uploader
            [defaultImage]="'/assets/images/image-placeholder-normal.png'"
            [cloudFolder]="'nicImages'"
            (upload)="setNicBackImage($event)"
          ></app-image-uploader>
          <!-- show error message for validation error -->
          <small
            *ngIf="RegisterForm.get('nicBackImage').invalid"
            class="text-danger"
            >*Nic Picture is required !</small
          >
        </div>
      </div>

      <div class="form-group">
        <label>Password :</label>
        <!-- input field coloured red when given data is failed validation -->
        <input
          [class.is-invalid]="
            RegisterForm.get('password').invalid &&
            RegisterForm.get('password').touched
          "
          type="password"
          formControlName="password"
          class="form-control"
        />
        <div
          *ngIf="
            RegisterForm.get('password').invalid &&
            RegisterForm.get('password').touched
          "
        >
          <!-- show error message for validation error -->
          <small
            class="text-danger"
            *ngIf="RegisterForm.get('password').errors.required"
            >*Enter a password !</small
          >
          <small
            class="text-danger"
            *ngIf="RegisterForm.get('password').errors.minlength"
            >*Password must be atleast 6 charactors !</small
          >
        </div>
      </div>

      <div class="form-group">
        <label *ngIf="errorMessage != 'temp'" class="text-danger">{{
          errorMessage
        }}</label>
        <label *ngIf="successMessage != 'temp'" class="success">{{
          successMessage
        }}</label>
      </div>

      <!-- signup button is disabled when validation error exists -->
      <button
        [disabled]="RegisterForm.invalid"
        type="submit"
        class="btn btn-primary float-right"
        (click)="tryRegister(RegisterForm.value)"
      >
        Register Now
      </button>
    </fieldset>
  </form>

  <!-- <form class="input-group">
    <div>
      <p class="font-weight-bold">Sign Up</p>
    </div>

    <input type="text" class="input-field" placeholder="User Name" required />
    <input type="email" class="input-field" placeholder="Email" required />
    <input
      type="number"
      class="input-field"
      placeholder="Mobile Number"
      required
    />
    <input type="number" class="input-field" placeholder="Id Number" required />
    <input
      type="password"
      class="input-field"
      placeholder="Password"
      required
    />
    <input
      type="password"
      class="input-field"
      placeholder="Conform Password"
      required
    />
    <button type="submit" class="signup-btn">Sign Up</button>
  </form> -->
</div>
