<div class="navbar-fix"></div>
<div class="container" id="container">
  <form class="input-group">
    <div>
      <p class="font-weight-bold">Sign Up</p>
    </div>

    <input type="text" class="input-field" placeholder="User Name" required />
    <input type="email" class="input-field" placeholder="Email" required />
    <input
      type="number"
      class="input-field"
      placeholder="Mobile Number"
      required
    />
    <input type="number" class="input-field" placeholder="Id Number" required />
    <input
      type="password"
      class="input-field"
      placeholder="Password"
      required
    />
    <input
      type="password"
      class="input-field"
      placeholder="Conform Password"
      required
    />
    <button type="submit" class="signup-btn">Sign Up</button>
  </form>
</div>
