.countdown-container{
    // width: 170px;
    background-color: #239B56;
    text-align: center;
    height: 40px;
    padding: 10px;
    outline-width: 2px;
    outline-color: black;
    outline-style: auto;
  }