<div class="container" id="container">
  <form [formGroup]="UpdateForm">
    <fieldset class="p-4">
      <div class="form-group">
        <label>Profile Picture :</label>
        <!-- input field coloured red when given data is failed validation -->
        <app-image-uploader
          [defaultImage]="user.profilePicture"
          [cloudFolder]="'profilePictures'"
          (upload)="setProfilePicture($event)"
        ></app-image-uploader>
        <!-- show error message for validation error -->
        <small
          *ngIf="UpdateForm.get('profilePicture').invalid"
          class="text-danger"
          >*Profile Picture is required !</small
        >
      </div>

      <div class="name row">
        <div class="form-group w-50 pl-3 pr-2">
          <label>First Name :</label>
          <!-- input field coloured red when given data is failed validation -->
          <input
            [class.is-invalid]="
              UpdateForm.get('firstName').invalid &&
              UpdateForm.get('firstName').touched
            "
            type="text"
            formControlName="firstName"
            class="form-control"
            required
          />
          <!-- show error message for validation error -->
          <small
            *ngIf="
              UpdateForm.get('firstName').invalid &&
              UpdateForm.get('firstName').touched
            "
            class="text-danger"
            >*First Name is required !</small
          >
        </div>

        <div class="form-group w-50 pl-2 pr-3">
          <label>Last Name :</label>
          <!-- input field coloured red when given data is failed validation -->
          <input
            [class.is-invalid]="
              UpdateForm.get('lastName').invalid &&
              UpdateForm.get('lastName').touched
            "
            type="text"
            formControlName="lastName"
            class="form-control"
            required
          />
          <!-- show error message for validation error -->
          <small
            class="text-danger"
            *ngIf="
              UpdateForm.get('lastName').invalid &&
              UpdateForm.get('lastName').touched
            "
            >*Last Name is required !</small
          >
        </div>
      </div>

      <div class="form-group">
        <label>Mobile number :</label>
        <!-- input field coloured red when given data is failed validation -->
        <input
          [class.is-invalid]="
            UpdateForm.get('mobileNumber').invalid &&
            UpdateForm.get('mobileNumber').touched
          "
          type="text"
          formControlName="mobileNumber"
          class="form-control"
          required
        />
        <!-- show error message for validation error -->
        <div
          *ngIf="
            UpdateForm.get('mobileNumber').invalid &&
            UpdateForm.get('mobileNumber').touched
          "
        >
          <small
            class="text-danger"
            *ngIf="UpdateForm.get('mobileNumber').errors.required"
            >*Mobile Number is required !</small
          >
          <small
            class="text-danger"
            *ngIf="UpdateForm.get('mobileNumber').errors.invalidMobileNumber"
            >*Enter valid mobile number !</small
          >
        </div>
      </div>

      <div class="btn float-right">
        <button
          type="button"
          class="btn btn-lg btn-primary"
          (click)="updateUser(UpdateForm.value)"
        >
          Save
        </button>
      </div>
      <div class="btn float-right">
        <button
          (click)="gotoDashboard()"
          type="button"
          class="btn btn-secondary btn-lg"
        >
          Cancel
        </button>
      </div>
    </fieldset>
  </form>
</div>
