.top-box {
  width: 100%;
  height: 380px;
  background-color: #10273c;
}

.filter-box-container {
  margin-top: -310px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: flex;

  .filter-box {
    height: 50px;
    margin: 10px 10px 10px 0px;
    flex: 1;
    background-color: red;
  }

  .post-ad-button {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    height: 50px;
    margin: 10px 0px 10px 10px;
    width: 150px;
    background-color: #77e08e;
  }
}

.carousel-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.result-container {
  margin-right: auto;
  margin-left: auto;
  padding: 20px 0px 20px 0px;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  outline: transparent;

  app-card {
    padding: 10px 20px 10px 20px;
  }
}
